
// ШРИФТЫ
@font-face {
    font-family: 'Montblanc-Regular';
    font-style: normal;
    font-weight: normal;
    src: local("MontBlanc-Regular"), url("Fonts/Montblanc/Montblanc-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Mories';
    font-style: normal;
    font-weight: bold;
    src: local("Mories-Bold"), url("Fonts/Mories/Mories Bold.otf") format("otf"), url("Fonts/Mories/Mories Bold.woff") format("woff"), url("Fonts/Mories/Mories Bold.woff2") format("woof2"), url("Fonts/Mories/Mories Bold.ttf") format("ttf");
}

@font-face {
    font-family: 'Mories';
    font-style: normal;
    font-weight: normal;
    src: local("Mories"), url("Fonts/Mories/Mories.otf") format("otf"), url("Fonts/Mories/Mories.woff") format("woff"), url("Fonts/Mories/Mories.woff2") format("woof2"), url("Fonts/Mories/Mories.ttf") format("ttf");
}

@font-face {
    font-family: 'Mories-Display';
    font-style: normal;
    font-weight: normal;
    src: local("Mories-Display"), url("Fonts/Mories/Mories-Display.otf") format("otf"), url("Fonts/Mories/Mories-Display.woff") format("woff"), url("Fonts/Mories/Mories-Display.woff2") format("woof2"), url("Fonts/Mories/Mories-Display.ttf") format("ttf");
}
